openapi: 3.0.4
info:
  title: D&D Generator
  description: >-
    D&D Generator creates random content for tabletop role-playing games
    including characters, NPCs, monsters, treasure, encounters, taverns, and
    quests.
  termsOfService: https://apiverve.com/terms/
  contact:
    name: APIVerve Support
    email: hello@apiverve.com
    url: https://apiverve.com/contact
  version: 1.0.0
externalDocs:
  description: Learn more about APIVerve
  url: https://docs.apiverve.com?utm_source=openapi
servers:
  - url: https://api.apiverve.com/
paths:
  /v1/dndgenerator:
    get:
      summary: Generate D&D Content
      description: Generate random D&D content by type
      operationId: dndgenerator
      parameters:
        - name: type
          in: query
          schema:
            type: string
          required: false
          description: Content type to generate
          example: character
        - name: count
          in: query
          schema:
            type: integer
          required: false
          description: Number of items to generate
          example: 1
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  type: character
                  count: 1
                  results:
                    name: Ashorshadow
                    race: Elf
                    class: Warlock
                    level: 6
                    background: Criminal
                    alignment: Lawful Good
                    stats:
                      strength: 10
                      dexterity: 12
                      constitution: 7
                      intelligence: 15
                      wisdom: 12
                      charisma: 10
                    hitPoints: 20
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
security:
  - api_key: []
